/******css main*/
:root {
    --maincolor: #cda34f;
    --green: #636b46;
    --mauchu: #373f27;
}

@font-face {
    font-family: "iCielBC OldStyle";
    src: url(../fonts/iCielBCOldStyle-Regular.ttf);
}

body {
    font-family: "iCielBC OldStyle";
    background-image: url(../img/background/background.png);
    background-color: #fff;
}

.text-cmain {
    color: var(--maincolor);
}

.color-main {
    background-color: var(--maincolor);
    color: var(--maincolor);
}

a {
    color: var(--mauchu);
}

a:hover, a:active {
    font-weight: bold;
    color: var(--mauchu);
}

h2 {
    margin: 10px auto;
}

h6 {
    font-size: 14px;
    line-height: 22px;
}

a i {
    color: #95999c;
}

a i:hover {
    color: #000;
}

b {
    font-weight: bold;
}

p {
    font-size: 14px;
}

button.button-menuleft {
    font-size: 27px;
    border: none;
    color: #fff;
    box-shadow: none;
    background-color: transparent;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    #menubar1 .modal-dialog {
        margin: 0px;
        width: 400px;
        height: 100%;
    }
}

.title-main {
    font-size: 20px;
    display: block;
    text-align: center !important;
    text-transform: uppercase;
    margin: 10px auto 2px auto !important;
    color: var(--green) !important;
}

.underline-title {
    margin: 0px auto 50px auto !important;
    display: block;
}

.img-bg {
    position: absolute;
    top: 1150px;
    left: -215px;
}

.d-flex {
    flex: auto;
}

.btn-red {
    background-color: red !important;
    color: #fff !important;
    border-radius: 5px;
}

.btn {
    background-color: var(--maincolor);
    color: #fff !important;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fff !important;
    color: var(--maincolor) !important;
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

input[type="password" i] {
    font-family: "Arial Black";
}

img.zoom-hover:hover {
    transition: .3s ease-in-out;
    transform: scale(1.01);
}

@media screen and (max-width: 414px) {
    h6.nav-link {
        font-size: 12px;
    }

    h5.modal-title {
        font-size: 14px !important;
    }

    input[placeholder] {
        font-size: 12px;
    }

    button, input {
        height: 40px;
    }
}

@media screen and (max-width: 768px) {
    h5.modal-title {
        font-size: 16px;
    }
}

/*css dropdown-menu*/

/*css main end*/

/******css tophead*/

@keyframes tophead {
    from {
        top: -50px;
    }
    to {
        top: 0px;
    }
}

.fixed-top {
    animation: tophead 500ms ease-in-out;
}

#tophead {
    background-color: var(--maincolor);
    min-height: 40px;
    transition: animation 1.5s;
}

#tophead .navbar {
    height: 40px;
    padding: 0px;
}

#tophead .nav-link {
    color: #ffffff;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

/******css search modal*/
#link-modal-search .modal-dialog {
    max-width: unset;
    margin: 0px;
}

#link-modal-search .modal-dialog .modal-header .close {
    outline: none !important;
}

#link-modal-search .modal .modal-dialog .modal-content {
    padding: 20px 40px;
}

#link-modal-search .modal .modal-dialog .modal-content h5.modal-title {
    color: var(--maincolor);
    display: block;
}

#link-modal-search .modal-dialog .modal-body input.search-input {
    border: none;
    border-radius: unset;
    display: inline-block;
    outline: none;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

@media screen and (max-width: 414px) {
    #link-modal-search .modal-body .btn {
        padding: 10px 20px;
        height: auto;
        line-height: 0px;
        font-size: 12px !important;
        margin: 5px !important;
    }

    #link-modal-search div.modal-content {
        padding: 15px 10px !important;
    }
}

/*end search modal*/

/******css drop-profile*/
#tophead .profile .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    display: unset;
    float: unset;
    width: 260px;
    height: auto;
    padding: 17px;
    right: 0px;
    left: auto;
    top: 155%;
    transition: visibility 700ms, opacity 600ms, transform 500ms;
}

#tophead .profile .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

#tophead .profile .btn {
    width: 100%;
    margin: 0px 0px 20px 0px;
    font-size: 14px;
}

/*css dropdown profile end*/

/******css dropdown cart*/
#tophead .cart-drop .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    display: unset;
    float: unset;
    width: 380px;
    height: auto;
    padding: 17px;
    right: 0px;
    left: auto;
    top: 220%;
    transition: visibility 700ms, opacity 600ms, transform 500ms;
}

#tophead .cart-drop .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

#tophead .cart-number-badge {
    position: relative;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    height: 17px;
    color: #ff0219;
    background-color: #fff;
    left: 10px;
    top: -28px;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
}

#tophead .cart-drop .dropdown-menu .remove {
    text-align: center;
    margin: auto;
}

#tophead .cart-drop .dropdown-menu .imgsp img {
    width: 55px;
    height: 70px;
    border: var(--green) solid 1px;
}

#tophead .cart-drop .dropdown-menu .namesp a {
    line-height: normal;
    font-size: 16px;
}

/*css dropdown cart end*/
/*css tophead end*/

/*****css menubar*/
#menubar1 {
    background-color: #fff;
}

/*css menu demo1*/
#menubar1 .nav {
    box-shadow: none;
}

#menubar1 .nav {
    height: 120px;
}

#menubar1 .nav .nav-link {
    color: var(--maincolor);
    font-weight: bold;
}

/*end css menu demo1*/

#menubar1 a.drop-item:hover {
    color: #fff;
    background-color: var(--maincolor);
    font-weight: unset;
}

#menubar1 .modal-dialog {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: auto;
    min-height: 100%;
    margin: 0;
}

#menubar1 .modal .modal-dialog .modal-body .dropdown-menu {
    position: unset !important;
    padding-left: 30px;
    float: unset;
    border: none;
    color: var(--maincolor);
}

/*drop-menu*/
.drop {
    position: relative;
    display: inline-block;
}

.drop-menu {
    top: 70px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: visibility 0.1s, transform 0.3s ease-in-out, opacity 0.4s;
}

.drop-menu a {
    color: var(--maincolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

li.drop:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

li.drop:hover .drop-item {
    visibility: visible;
}

.drop-item {
    visibility: hidden;
    transition: all 0.1s;
}

/*end drop-menu*/
/*end css menubar1*/
/*end css menubar*/

/******css about*/
#about, #sanpham {
    padding: 50px 0px;
}

@media screen and (max-width: 991px) {
    #about .content {
        text-align: center;
    }
}

#about img.img-fluid {
    width: 100%;
    margin: 20px 0px;
    box-shadow: 12px 12px rgba(99, 107, 70, 0.7);
    border-radius: 7px;
}

#about .btn {
    background-color: var(--maincolor);
    color: #fff;
    border-radius: 10px;
    box-shadow: none;
    font-size: 14px;
}

#about .btn:hover {
    background-color: #fff;
    color: var(--maincolor);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*end css about*/
@media screen and (max-width: 768px) {
    .link-hover {
        margin-bottom: 25px;
    }
}

#sanpham .title-hover h1 {
    color: #fff;
    margin: auto;
    width: 60%;
    text-align: right;
    visibility: visible;
}

@media screen and (min-width: 1200px) {
    #sanpham .link-hover:hover .title-hover h1 {
        padding: 5px;
        border: 1px solid white;
        width: unset;
    }
}

.link-hover {
    position: relative;
}

.title-hover a {
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    position: absolute;
    align-items: center;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(0deg, rgba(99, 107, 70, 1) 0%, rgba(99, 107, 70, 0) 100%);
}

.title-hover h5 {
    color: #fff;
    transition: all 0.1s ease-in, visibility 0.5s cubic-bezier(1, -0.37, 1, -0.35);
    margin: auto;
    width: 60%;
    text-align: center;
    visibility: visible;
}

.title-hover h4 {
    color: #fff;
    transition: visibility 0.5s cubic-bezier(1, -0.22, 0, 1.26);
    margin: auto;
    width: 60%;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    visibility: hidden;
}

@media screen and (min-width: 1200px) {
    .link-hover:hover a.hover-h5 {
        visibility: hidden;
    }

    .link-hover:hover .title-hover a {
        height: 100%;
    }

    .link-hover:hover .title-hover h5 {
        visibility: hidden;
        transition: visibility 0.1s;
    }

    .link-hover:hover .title-hover h4 {
        visibility: visible !important;
    }
}

/*#sanpham .dmuc-spham:hover > .gadient-dmuc h2{*/
/*    border: 1px solid white;*/
/*    padding: 5px;*/
/*    top: 30%;*/
/*    left: 25%;*/
/*    right: unset;*/
/*}*/
/*******collection*/
@media screen and (max-width: 1024px) {
    #mixedSlider {
        max-width: 522px !important;
    }
}

@media screen and (max-width: 991px) {
    #mixedSlider, #mixedSlider .MS-content, #collection .img-right {
        position: unset !important;
        left: unset !important;
    }

    #collection .ct-left {
        text-align: center !important;
    }
}

#collection {
    margin-top: 50px;
    padding: 5px 0px;
    min-height: 700px;
    background-image: url(../img/background/collection-nen.png);
    background-repeat: repeat;
}

#collection .ct-left {
    margin-top: 10%;
}

#collection .ct-left .btn {
    background-color: #fff !important;
    color: var(--maincolor) !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#collection .ct-left .btn:hover {
    background-color: var(--green) !important;
    color: #fff !important;
}

#collection .img-right {
    position: absolute;
    right: 0px;
    min-height: 500px;
}

/*css slide san pham*/
@media screen and (min-width: 1440px) {
    #mixedSlider {
        margin: 4% auto !important;
        max-width: unset !important;
    }
}

#mixedSlider {
    left: 5%;
    max-width: 712px;
    width: auto;
    position: absolute;
    margin: 8% auto;
    height: auto;
}

#mixedSlider .MS-content {
    white-space: nowrap;
    position: relative;
    left: 60px;
    overflow: hidden;
}

#mixedSlider .MS-content .item {
    display: inline-block;
    width: 372px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    max-height: 522px;
    white-space: normal;
    padding: 0 10px;
    text-align: center;
}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}

#mixedSlider .MS-content .item:hover {
    text-shadow: 0 0 1px grey;
}

#mixedSlider .MS-content .item .card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

/*end css nÃ¡Â»Âi dung slide*/

#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 25px;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.2);
    transition: 0.15s linear;
}

/*css next-back san pham*/
#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}

#mixedSlider .MS-controls .MS-left {
    left: 0px;
}

#mixedSlider .MS-controls .MS-right {
    left: 30px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }

    #mixedSlider .MS-controls .MS-left {
        left: -10px;
    }

    #mixedSlider .MS-controls .MS-right {
        right: -10px;
    }
}

@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}

/*end css next-back san pham*/

#basicSlider {
    position: relative;
}

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
}

@media (max-width: 991px) {

    #basicSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 767px) {

    #basicSlider .MS-content .item {
        width: 35%;
    }
}

@media (max-width: 500px) {

    #basicSlider .MS-content .item {
        width: 50%;
    }
}

#basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button {
    position: absolute;
}

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}

/*end css slide san pham*/

#quick-link {
    margin: 30px 0px 40px 0px;
}

#quick-link img {
    width: auto;
    height: auto;
    filter: opacity(50%);
    transition: all 500ms;
}

#quick-link img:hover {
    filter: none;
}

#news {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 3%;
    background-color: #fff;
    min-height: 500px;
}

#news .gadient-dmuc {
    width: 91%;
    left: 17%;
}

@media screen and (max-width: 1200px) {
    #news .gadient-dmuc {
        width: 90%;
    }

    #sanpham .gadient-dmuc-hover h2 {
        left: 15%;
    }
}

@media screen and (max-width: 991px) {
    #footer, #footer .info-footer p {
        font-size: 12px;
        text-align: center !important;
        margin: auto;
        padding-left: 0px !important;
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 991px) {
    #footer .get-NEWS {
        text-align: center !important;
    }

    #footer .link {
        padding-top: 5% !important;
    }

    #footer .get-NEWS {
        padding-left: 0px !important;
        padding-top: 2% !important;
    }
}

#footer .info-footer {
    margin-top: 5%;
}

#footer {
    background-color: var(--maincolor);
    min-height: 300px;
    padding-bottom: ;
}

#footer .link {
    padding-top: 10%;
    text-align: center;
}

#footer .get-NEWS {
    padding-left: 10%;
    padding-top: 7%;
    text-align: left;
    color: var(--green);
}

#footer .nav-link {
    color: #fff;
}

#footer .nav-link i {
    font-size: 25px;
    color: var(--green);
}

#footer a.nav-link {
    padding: 5px 0px;
}


/******css index about******/
#gioi-thieu {
    color: var(--mauchu);
    display: block;
}

#banner-gioi-thieu {
    position: unset;
    margin-bottom: 20px;
}

#banner-gioi-thieu .bannermain-gioithieu {
    border: #fff solid 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#banner-gioi-thieu .banner1 {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#banner-gioi-thieu .banner1 img {
    width: 70%;
    margin: 0px auto;
    display: block;
}

#banner-gioi-thieu img.banner2 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    right: 30%;
}

#banner-gioi-thieu .flame {
    position: relative !important;
    height: 80px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #banner-gioi-thieu .flame {
        height: 80px;
    }
}

@media screen and (min-width: 2560px) {
    #banner-gioi-thieu .flame {
        height: 600px;
    }
}

@media screen and (min-width: 768px) {
    #banner-gioi-thieu .flame {
        height: 150px;
    }

    #content1 h1 {
        text-align: center !important;
    }
}

@media screen and (min-width: 600px) {
    #banner-gioi-thieu .flame {
        height: 70px;
    }
}

@media screen and (min-width: 1024px) {
    #banner-gioi-thieu .flame {
        height: 200px;
    }
}

@media screen and (max-width: 991px) {
    #content2 .right h1 {
        text-align: center !important;
        margin: auto;
    }
}

#content1 h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    #content1 .thut, #content3 .thut {
        padding: 0px 15%;
    }
}

#content2 {
    margin: 50px 0px;
}

#content2 img.img-left {
    border: #fff solid 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#content2 .right {
    padding: 50px 0px 0px 20px;
}

#content2 .right h1 {
    font-size: 36px;
    font-weight: bold;
}


#content3 .content-top {
    text-align: justify;
}

#content-img {
    margin-top: 5%;
    text-align: center;
}

#content-img h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

#content-img img {
    margin-bottom: 30px;
}

#content-img .sign {
    filter: opacity(60%);
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}


/*css index-collection*/
#index-tintuc {
    padding: 20px 0px;
    margin: 5% 0px;
}

#index-tintuc .img-bst img {
    margin-bottom: 35px;
    width: 99%;
}

#index-tintuc .tintuc {
    margin-bottom: 30px;
}

/*end css index-collection*/

/*css contact*/
@media screen and (max-width: 768px) {
    #index-contact .border-right {
        border-right: unset !important;
    }
}

#index-contact {
    padding: 20px 0px 0px 0px;
    margin: 60px 0px 0px 0px;
    color: var(--mauchu);
}


#index-contact .tt {
    margin-top: 20px;
    text-align: center;
}

#index-contact .tt img {
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
}

#index-contact .freeback {
    margin: 80px 0px 60px 0px;
}

#index-contact .border-input {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    border-color: rgba(0, 0, 0, 0.1);
}

#index-contact label {
    margin-bottom: 0px;
}

#index-contact i {
    font-size: 30px;
    margin-right: 5px;
}

#index-contact .content-map {
    background-color: #fff;
    border: #4e555b solid 1px;
    padding: 20px;
    font-size: 14px;
}

#googleMap iframe {
    width: 100%;
    height: 400px;
}

#index-member {
    padding: 20px 0px 20px 0px;
    margin: 60px 0px 30px 0px;
    color: var(--mauchu);
}


/*css chitiet-tintuc*/
#detail-tintuc {
    margin: 70px 0px;
    color: var(--mauchu);
    font-size: 14px;
}

#detail-tintuc .detail-img2 {
    max-height: 600px;
    position: relative;
}

#detail-tintuc .detail-img2 .detail-content-img2 {
    padding: 30px;
    width: 30%;
    max-height: 250px;
    text-align: justify;
    position: absolute;
    background: #e9e7da;
    top: 30%;
    left: 65%;
}

#chitiet-tintuc-noibat {
    margin-bottom: 70px;
}

#detail-tintuc p {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    #detail-tintuc .detail-img2 .detail-content-img2 {
        margin: 0px auto;
        padding: 7%;
        width: 100%;
        max-height: 250px;
        text-align: justify;
        position: unset;
        background: #e9e7da;
    }
}

#login {
    margin: 70px 0px;
    color: var(--mauchu);
}

.md-form label.active {
    color: #757575 !important;
}

.md-form .form-control {
    padding-top: 17px;
    box-shadow: none !important;
    border-bottom: 1px solid #757575 !important;
}

#login .btn-link-social.btn-facebook {
    background-color: #4267b2 !important;
}

#login .btn-link-social.btn-google {
    background-color: #f94048;
}

#login .btn-link-social:hover {
    background-color: var(--maincolor) !important;
    color: #fff;
}

#login .btn-link-social {
    border: none;
    display: block;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 45px;
    width: 245px;
    margin: 6px 24px 6px 4px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

#login .btn-link-social .btn-icon {
    line-height: 38px;
    float: left;
    height: 43px;
    width: 43px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

@media screen and (max-width: 991px) {
    #login .right {
        text-align: center;
    }

    #login .btn-link-social, #login .btn {
        margin: 10px auto !important;
    }

    #login .md-form {
        width: 60%;
        margin: auto !important;
    }

    #login h2 {
        margin-top: 20px;
    }
}

#list-spham-index {
    margin-bottom: 70px;
    min-height: 1500px;
}

#list-spham-index .right {
    text-align: center;
    margin-top: 30px;
}

#list-spham-index .nav-link:hover {
    color: rgba(0, 0, 0, 0.4);
}

#list-spham-index .left {
    padding: 20px 2%;
    height: 1000px;
    margin-top: 30px;
}

#list-spham-index .left .title-left {
    color: var(--maincolor);
    font-weight: bold;
    text-transform: uppercase;
}

#list-spham-index .left li.far {
    margin: 5px 0px 0px 50px;
    font-weight: bold;
}

#list-spham-index .left .far li.chir a {
    font-weight: normal;
}

#list-spham-index .left .spham-new img {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 110.2);
    box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
}

#list-spham-index .right img {
    /*margin-top: 30px;*/
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 110.2);
    box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
}

#list-spham-index .right .img-lag img {
    width: 270px;
    height: 442px;
}

#list-spham-index .right .img-sma img {
    width: 270px;
    height: 270px;
}

#list-spham-index .right .title-index-listspham {
    position: absolute;

}

#list-spham-index .right .row {
    position: relative;
}

.menu-dmuc {
    padding: 12px 20px 0px 20px;
    margin-top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-dmuc::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.menu-dmuc {
    -ms-overflow-style: none;
}

.menu-dmuc ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0 20px;
    padding-inline-start: 0px;
}

.menu-dmuc ul li {
    display: inline-block;
    margin-right: 16px;
}

.content-canhan {
    position: relative;
}

#canhan {
    height: 750px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#canhan .content-canhan .content-bottom {
    position: relative;
    width: 90%;
    height: 550px;
    background-color: #fff;
    top: 80px;
    left: 0px;
    padding-top: 50px;
    padding-left: 40px;
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#canhan .content-bottom h5 {
    margin-bottom: 20px;
}

#canhan .content-canhan .content-top {
    position: absolute;
    width: 75%;
    height: 600px;
    background-color: #fff;
    top: 0px;
    right: 0px;
    webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#canhan .content-canhan img.avatar {
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

#canhan .content-canhan .content-top .content-canhan, #canhan .content-tt-donhang {
    margin-top: 5%;
    margin-left: 5%;
}

#canhan table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#canhan table th, #canhan td {
    text-align: center;
    padding: 15px 5px;
}

#canhan table th {
    font-weight: bold;
}

#canhan table .ma-don-hang {
    color: var(--maincolor);
    text-decoration: underline;
}

#canhan .content-canhan .lichsu {
    position: relative;
    height: 600px;
}

#canhan .content-canhan .lichsu .pagination {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#canhan .tt-donhang .tonggia td {
    padding: 0px 5px;
    text-align: right;
}

#canhan .tt-donhang .tonggia table {
    width: 50%;
    margin-left: auto;
}

#canhan .content-canhan2 {
    background-color: #fff;
}

#canhan .content-canhan2 .nav-item a.nav-link {
    color: var(--maincolor);
    text-transform: uppercase;
}

#canhan .content-canhan2 .nav-item a.active {
    color: #fff;
    border: none;
    background-color: var(--maincolor);
    border-radius: unset;
}

@media screen and (max-width: 991px) {
    #canhan {
        min-height: 100px;
        height: auto;
    }
}

.topbanchay, .tintucnoibat {
    margin-top: 50px;
}
@media screen and (min-width: 1025px) {
    div.img-hover {
        overflow: hidden;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 110.2);
        box-shadow: 0px 0px 5px 0px rgba(110, 110, 110, 0.2);
        margin-bottom: 15px;
        width: -webkit-fill-available;
    }

    .topbanchay div.img-hover{
        height: 418px;
    }
    .img-hover.phukien {
        height: 255px;
    }
    div.img-hover{
        height: 417px;
    }
    div.img-hover img {
        transition: all 0.5s;
    }

    div.img-hover:hover img {
        transform: scale(1.2);
    }
}
#error-404 {
    margin: 50px 0px;
}

#tt-spham {
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
}

#tt-spham .product-gallery-featured {
    width: 100%;
    padding: 15px 15px 15px 0px;
}

#tt-spham .product-gallery-featured img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

#tt-spham .product-gallery-thumbnails .thumbnails-list li {
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    height: auto;

}

#tt-spham .thumbnails-list li img {
    display: block;
    width: 100%;
    opacity: 0.5;
}

#tt-spham .product-gallery-thumbnails .thumbnails-list li:hover img {
    opacity: 1;
}

#tt-spham .product-detail {
    padding-top: 40px;
}

.cost {
    margin: 30px 0px 10px 0px;
    color: red;
    font-size: 18px;
}

.qtyminus, .qtyplus {
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    color: var(--mauchu);
    cursor: pointer;
    display: inline-block;
    border: 0.5px solid lightgrey;
    background-color: #fff;
}

.qty {
    width: 30px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
}

#tt-spham .size {
    margin: 10px 0px;
}

#tt-spham .clab {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
    display: inline-block;
}

#tt-spham .product-detail .active {
    background-color: var(--maincolor);
    color: #fff;
}

#tt-spham .detail-tt-spham {
    height: auto;
    background-color: #fff;
    padding: 25px 50px 0px 50px;
}

#tt-spham .detail-tt-spham .tab-head {
    margin-bottom: 20px;
    color: var(--mauchu);
    text-transform: uppercase;
}

#tt-spham .detail-tt-spham .cmt-content img {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: red;
}

#tt-spham .detail-tt-spham .form-cmt {
    margin-top: 30px;
}

#tt-spham i {
    font-size: 30px;
}

#giohangtrong, #thanhtoan-tcong {
    margin: 50px 0px;
}

#thanhtoan, #giohang {
    padding: 50px 0px;
    color: var(--mauchu);
}

#thanhtoan .tt-donhang {
    background-color: #fff;
    padding: 30px 30px;
    -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.15);

}

#thanhtoan .tt-donhang img {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

#thanhtoan .tt-donhang h5.title-main {
    text-align: left !important;
}

#thanhtoan h5 {
    margin: 10px 0px 20px 0px;
    font-weight: bold;
}

#thanhtoan form, #thanhtoan ul {
    margin-left: 30px;
}
#thanhtoan .tt-donhang .total p{
    font-size: 16px;
    font-weight: bold;
}
#thanhtoan .tt-donhang .total span{
    margin-left: 20px;
    margin-right: 10px;
}
#thanhtoan .tt-giaohang{
     margin-bottom: 30px;
 }

.qt-minus, .qt-plus {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 19px;
    line-height: 17px;
    color: var(--mauchu);
    cursor: pointer;
    display: inline-block;
    border: 0.5px solid lightgrey;
    background-color: #fff;
}

.qt {
    width: 30px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    display: inline-block;
}

#tintuc-noibat {
    margin: 50px 0px;
}
#giohang .cart img{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
}
#giohang .content-voucher{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    /*background-image: url(../img/background/Vector Smart Object.png Smart Object.png);*/
}
/*.img-hover{*/
/*    position: relative;*/
/*}*/
/*.add-cart{*/
/*    position: absolute;*/
/*    !*visibility: hidden;*!*/
/*    width: 100%;*/
/*    bottom: 5%;*/
/*}*/
/*.img-hover:hover .add-cart{*/
/*    !*visibility: visible;*!*/
/*}*/
